.hero-txt {
    font-family: 'Moirai One', system-ui;
    font-size: xxx-large;
    color: rgb(2, 119, 80);
    transition: 2s;

    .material-symbols-outlined {
        opacity: 0;
        transition: opacity 1.5s ease;
        font-size: xx-large;
    }
}

%hero-text-hover {
    font-size: 8rem;
    transition: 2s;
    margin-right: 25rem;
    display: inline;
    color: blanchedalmond;
}

.hero-txt:hover {
    @extend %hero-text-hover;

    .material-symbols-outlined {
        opacity: 1;
    }
}